@import './vendor/normalize.sass';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;

  #three-js-renderer {
    margin: 0;
    padding: 0;
    line-height: 0;
    outline: none;
    border: none;
  }
}
